.BgModalPopUp {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .PopUpWindowDemande1 {
    width: 600px;
    height: 320px;
    background: white;
    border-radius: 14px;
  }
  
  .CommençonsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: -40px;
  }
  .PopUpWindowDemande2 {
    width: 900px;
    height: 355px;
    background: white;
    border-radius: 14px;
  }
  
  .closingButton {
    transform: rotate(45deg);
    font-size: 38px;
    padding-right: 15px;
    padding-top: 5px;
    cursor: pointer;
  }
  
  .pointer {
    cursor: pointer;
  }
  .combowetContainer {
    margin-top: -50px;
    margin-bottom: 5px;
  }
  
  .PopUpWindowDemade2Description {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .BgModalPopUp2 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .PopUpWindowDemade1DescriptionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  
  .PopUpWindowDemade2DescriptionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  
  .closingButtonContainer {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .PopUpWindowDemade1Description {
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .PopUpWindowSTBLogoContainer {
    display: flex;
    justify-content: center;
  }
  
  .ButtonValidationPopUp {
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 40px;
  }
  
  .btn_annuler {
    background: green;
    cursor: pointer;
  }
  
  .btn_valider {
    background: rgb(39, 131, 189);
    cursor: pointer;
  }
  
  .PopUpWindowTwoButtonsValidationContainer {
    display: flex;
    justify-content: center;
  }
  
  .PopUpWindowTwoButtonsValidationContainerdernier{
    padding-top: 5px;
    display: flex;
    justify-content: center;
  
  
  }
  
  
  .imgStart{
    width: 100px;
    height: 100px;
    padding-top: 5px;
  }
  
  .startIconeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .logoStb {
    width: 280px;
    height: 120px;
  }
  
  .BgModalPopUp3 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .PopUpWindowDemande3 {
    width: 940px;
    height: 380px;
    background: white;
    border-radius: 14px;
  }
  
  .résultat_et_coordonnées_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .coordonnées_container {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .coordonnes_line {
    display: flex;
    align-items: center;
  }
  
  .closingButtonContainer3 {
    display: flex;
    justify-content: end;
  }
  
  .closingButtonContainer4 {
    display: flex;
    justify-content: end;
  }
  
  .closingButton3 {
    font-size: 38px;
    transform: rotate(45deg);
    padding-right: 15px;
    padding-top: 10px;
  }
  
  .closingButton4 {
    font-size: 38px;
    transform: rotate(45deg);
    padding-right: 15px;
    padding-top: 10px;
  }
  
  .title3container {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }
  
  .BgModalPopUp4 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .PopUpWindowDemande4 {
    width: 940px;
    height: 380px;
    background: white;
    border-radius: 14px;
  }
  
  .title4container {
    display: flex;
    justify-content: center;
  }
  
  .title4 {
    width: 60%;
  }
  
  .alertPhoto {
    margin-top: -40px;
    height: 100px;
    width: 100px;
  }
  
  .AlertPhotoContainer {
    display: flex;
    justify-content: center;
  }
  
  .PopUpWindowSTBLogoContainerPopUp4 {
    margin-top: -40px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  

  .RemboursementForm{
      height: 200px;
      display: flex;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 90px;
  }

  .cadre{
      border: 1px solid rgb(96, 96, 96);
      border-radius: 20px;
      display: flex;
      justify-content: space-around;
      width: 500px;
      padding-top: 20px;

  }

  .inputLabelContainer{
      padding: 2px;
  }