:root {
  --couleur_primaire_bleue: rgb(146, 58, 58);
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

.Text_prinmaire {
  color: aliceblue;
  font-size: 14px;
  font-weight: 700;
}
